flows.json
[
    {
        "id": "e44dd20ec3b1e229",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2dfd79b47fa19fb2",
        "type": "mqtt in",
        "z": "e44dd20ec3b1e229",
        "name": "",
        "topic": "home/kitchen/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a23f5a3d64e0a0d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "ad5f39b08e9a428a",
                "f39b6dbf8d5ec76f"
            ]
        ]
    },
    {
        "id": "13e57c7581ce735c",
        "type": "function",
        "z": "e44dd20ec3b1e229",
        "name": "function 1",
        "func": "var theval = Math.floor(Math.random()*20);\nvar tokens = msg.topic.split(\"/\");\nvar dest = tokens[tokens.length - 1];\n//msg.url = \"172.0..0.103:8086\"//write:home\";\nmsg.payload = tokens[2] + \",location=\" + tokens[1] + \" value=\" + msg.payload;\nreturn msg;\n\n\n//inserting query with random nos.",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "e89896aef2458aa4"
            ]
        ]
    },
    {
        "id": "e89896aef2458aa4",
        "type": "mqtt out",
        "z": "e44dd20ec3b1e229",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "155a6ded3bdaa356",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "ad5f39b08e9a428a",
        "type": "debug",
        "z": "e44dd20ec3b1e229",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "f797d14292afe7ad",
        "type": "inject",
        "z": "e44dd20ec3b1e229",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "home/kitchen/temperature",
        "payload": "65",
        "payloadType": "num",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "13e57c7581ce735c"
            ]
        ]
    },
    {
        "id": "8f485049cde03c35",
        "type": "inject",
        "z": "e44dd20ec3b1e229",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "home/kitchen/humidity",
        "payload": "22",
        "payloadType": "num",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "13e57c7581ce735c"
            ]
        ]
    },
    {
        "id": "3af304bc8a10d177",
        "type": "inject",
        "z": "e44dd20ec3b1e229",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "home/kitchen/co2",
        "payload": "54.78",
        "payloadType": "num",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "13e57c7581ce735c"
            ]
        ]
    },
    {
        "id": "f39b6dbf8d5ec76f",
        "type": "firebase modify",
        "z": "e44dd20ec3b1e229",
        "name": "",
        "firebaseconfig": "",
        "childpath": "Transportation",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a23f5a3d64e0a0d2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.0.0.100",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "155a6ded3bdaa356",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.0.0.100",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]